*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
input[type='submit'], button{
    cursor: pointer;
}
p{
    text-align: justify;
    text-indent: 20px;
}
html, body{
    height: 100%;
}
body{
    font-size: 16px;
    /*margin-bottom: 2em;*/
}
#brand{
    cursor: pointer;
    width: 128px;
    height: 64px;
}
.wrap-principal{
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    padding-bottom: 4em;
}
#dataHoje{
    position: absolute;
    top: 0.2em;
    right: 0.2em;
}

#navPrincipal{
    width: 100%;
    min-height: 5em;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-left: 1em;
}
#navegador{
    padding-left: 1em;
}
#containerBusca{
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-left: 1em;
}
#containerBusca form{
    width: 100%;
}
#containerBusca .pesquisa{
    width: 30%;
    height: 2em;
}
#containerBusca .btn-buscar{
    height: 2.5em;
    cursor: pointer;
}
#navPrincipal ul{
    list-style: none;
    padding-left: 0px;
    padding-left: 2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#navPrincipal ul li{
    display: inline;
}
#navPrincipal ul li:not(:last-of-type)::after{
    content: "|";
}
#containerProdutos{
    padding-left: 1em;
}
.container-produto{
    width: 350px;
    position: relative;
    min-height: 130px;
    margin: 10px;
    padding-bottom: 10px;
}
.resultado-busca{
    padding-left: 1em;
}
.container-produto-busca{
    width: 600px;
}
.container-produto h1{
    font-size: 0.8em;
}
.container-produto p{
    font-size: 0.5em;
}
#containerProdutos .row{
    display: flex;
    flex-direction: row;
}
.center{
    justify-content: center;
}
.container-produto .img{
    border: 1px solid #000;
    width: 128px;
    height: 128px;
    float: left;
    margin-right: 1em;
}
.container-produto .preco{
    height: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#rodapePrincipal{
    height: 2em;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login{
    width: 200px;
    margin: 0 auto;
    margin-top: 80px;
}
#login .row{
    margin: 10px;
}
#login h1{
    text-align: center;
}
#btnEntrar{
    float: right;
}
#container-produto-info{
    padding-left: 1em;
}
#info-produto, .img-produto-info{
    flex-basis: auto;
}
#info-produto{
    padding-bottom: 10px;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
}
#info-produto .preco{
    height: 10px;
    margin-bottom: 20px;
    display: block;
}
#info-produto .btn-voltar {
    height: 50px;
    width: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
}
#info-produto .preco-btn-voltar{
    position: absolute;
    bottom: 0;
    right: 0;
}
#info-produto h1{
    font-size: 1.5em;
}
#img-grande-produto{
    float: left;
    width: 300px;
    height: 400px;
}
#container-flex{
    display: flex;
    max-width: 50%;
}



/* página de listar produtos */
#containerProdutos {
    display: inline-block;
    padding-left: 0;
    width: 100%;
}

 #containerProdutos :after {
     content: "";
     display: block;
     clear: both;
 }

#adm-loja {
    width: 128px;
    font-size: 0.8em;
    margin-left: 5px;
    float: left;
}

#adm-loja a {
    display: inline-block;
    margin-bottom: 20px;
}

#lista-produtos {
    float: left;
    margin-left: 15px;
    width: calc(100% - 128px - 5px - 15px);
}

#lista-produtos p {
    text-indent: 5px;
    margin-bottom: 20px;
}

#lista-produtos table th, #lista-produtos table td {
    padding: 0 5px;
    border-left: 1px solid black;
}

#lista-produtos td {
    font-weight: normal;
}

#lista-produtos table th:first-child, #lista-produtos table td:first-child {
    border-left: none;
}


 #lista-produtos table td:nth-child(6), #lista-produtos table td:nth-child(5) {
    border-left: none;
}